/* About Section */
#about {
    background-color: #2a3244;
    width: 95%;
    margin: 20px 50px;
    border-radius: 10px;
}

#about img {
    background-color: rgb(48, 47, 47);
    margin: 50px;
    max-width: 400px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5); /* Four-sided shadow */
}

.about_text {
    background-color: rgb(48, 47, 47);
    margin: 20px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5); /* Four-sided shadow */
}

.about_text h2 {
    color: goldenrod;
    font-weight: 600;
}

.about_text p {
    color: whitesmoke;
}


/* Media Query for smaller screens (e.g., mobile devices) */
@media only screen and (max-width: 768px) {
    #about {
        margin: 10px; /* Reduce margin for small screens */
    }
    
    #about img {
        margin: 60px;
        max-width: 100%; /* Make the image responsive */
        max-height: 250px; /* Optional: Adjust image height for small screens */
    }

    .about_text {
        padding: 20px; /* Reduce padding for small screens */
    }
}

/* Media Query for very small screens (e.g., smaller mobile devices) */
@media only screen and (max-width: 480px) {
    #about {
        margin: 10px; /* Even smaller margin for very small screens */
    }

    .about_text {
        padding: 10px; /* Further reduce padding */
        width: 300px;
    }

    .socials-icons i {
        width: 40px; /* Make icons even smaller */
        height: 40px;
        font-size: 18px;
    }
}


