/* Services Section */
.services {
    width: 100%;
    padding: 60px 10%;
    background-color: #999b9c;
    text-align: center;
}

/* Section Title */
.section-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
}

.services-two-container {
    display: flex;
    justify-content: center;
    /* padding: 20px; */
}

.front-end {
    /* width: 40%; */
    height: auto;
    background-color: beige;
    margin: 5px;
}

.back-end {
    /* width: 40%; */
    height: auto;
    background-color: beige;
     margin: 5px;   
}

.front-end h2 {
    border: 1px solid black;
}


/* Service Box */
.service-box {
    /* display: flex; */
    width: auto; /* Ensures box takes up available space */
    height: auto;
    background: rgb(78, 65, 65);
    /* padding: 30px; */
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    transition: transform 0.3s ease;
    margin: 10px;
    color: yellow;
}

.service-box:hover {
    transform: translateY(-5px);
}

.service-box p {
    font-size: 24px;
    color: yellow;
    margin-bottom: 15px;
}

/* Responsive Design */
@media (max-width: 991px) {
    .services {
        padding: 50px 5%;
    }

    .service-box {
        text-align: center;
        justify-content: center;
        width: 100%; /* Ensure it takes full width on smaller screens */
    }

    .col-sm-12 {
        display: block; /* Forces columns to be stacked in small screens */
    }
}

/* For Medium, Large, Extra-Large screens */
@media (min-width: 768px) {
    .service-box {
        width: 100%; /* Ensures it spans the width of the column */
        
    }
}

@media (min-width: 1200px) {
    .services-two-container {
        width: 400px;
        display: flex;
    }
}