/* About Me Section */
.about-me {
    width: 95%;
    height: 400px;
    background-color: #636c70;
    margin: 20px auto;
    border-radius: 5px;
}

.about-me .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Profile Image */
.about-me .profile-img {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    /* Circular Image */
    border: 4px solid goldenrod;
    margin-top: 30px;
}

.about-me .profile-img img {
    width: 330;
    height: 330;
    border-radius: 50%;
    object-fit: cover;
    /* Ensures the image fits the circle */
}

.about-content {
    margin-left: 100px;
}

/* About Me Text */
.about-content h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
    color: goldenrod;
}

.about-content p {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 991px) {
    .about-me {
        height: fit-content;
        padding: 50px 5%;
        text-align: center;
        /* max-width: 600px; */
    }

    .about-me .container {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .about-me .profile-img {
        width: 130px;
        height: 130px;
    }

    .profile-img img {
        width: 120px;
        height: 120px;
    }

    .about-content {
        margin: 0px;
    }
}