/* Skills Section */
#skills .card {
    border: none;
    transition: transform 0.3s ease;
    background-color: #2a3244;
    background-color: #7c879f;
    width: 367px;
    height: 300px;
    margin: 10px;
    overflow-y: hidden;
}

#skills .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#skills .card-title {
    font-weight: bold;
    color: goldenrod;
}

#skills .card-text {
    color: whitesmoke;
    text-align: left;
}

.skill-container h2 {
    color: goldenrod;
    font-weight: 700;
}

/* Media Query for Small Screens (Mobile, 576px and below) */
@media only screen and (max-width: 576px) {
    #skill .card {
        width: 350px;
    }
}
